# Copyright (c) 2024, Sendrato.com
# SPDX-License-Identifier: All rights reserved.

module=BOARD
module-dep=LOG
module-str=Log level for board
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
